{% extends "base.html" %}
{% block title %} Latest Updates {% endblock %}
{% load cache %}
{% cache 20 index_page %}
{% block content %}
    <div class="container">
        {% include "posts/menu.html" with index=True %}
        <h1>Latest updates on the website</h1>
        {% for post in page %}
            {% include "posts/post_item.html" with post=post %}
        {% endfor %}


        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator%}
        {% endif %}
    </div>
{% endblock %}
{% endcache %}