{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author }}{% endblock %}
{% load thumbnail %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            {{ author.get_full_name }}
                        </div>
                        <div class="h3 text-muted">
                            {{ author }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: {{ author.following.count }} <br />
                                Подписан: {{ user.following.count }}
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Записей: {{ author.author_posts.count }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                {% include "posts/post_item.html" with post=post %}
{#                <div class="d-flex justify-content-between align-items-left">#}
{#                    <p class="card-text">#}
{#                        {% if like %}#}
{#                            <a class="btn btn-lg btn-light"#}
{#                               href="{% url "delete_like" author.username post.id %}"#}
{#                               role="button">#}
{#                                &#9829;#}
{#                                {% if likes.count > 0 %}#}
{#                                    {{ likes.count }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        {% else %}#}
{#                            <a class="btn btn-lg btn-light"#}
{#                               href="{% url "add_like" author.username post.id %}"#}
{#                               role="button">#}
{#                                &#x2661;#}
{#                                {% if likes.count > 0 %}#}
{#                                    {{ likes.count }}#}
{#                                {% endif %}#}
{#                            </a>#}
{#                        {% endif %}#}
{##}
{#                    </p>#}
{#                </div>#}
                {% include "posts/comments.html" with comment=comment %}
            </div>
        </div>
    </main>
{% endblock %}
